/* scroll bar 나타나지 않게 처리 */

/* -webkit- (Chrome, Safari, newer versions of Opera): */
.scroll::-webkit-scrollbar {
  width: 0 !important;
}

/* -moz- (Firefox): */
.scroll {
  overflow: -moz-scrollbars-none;
}

.scroll {
  -ms-overflow-style: none;
}
