/* calendar 전체 뷰 스타일 정의 */
.rbc-month-view {
  border-radius: 6px 6px 0px 0px;
  border: none;
}

/* calendar 헤더 스타일 정의 */
.rbc-header {
  border-radius: 0px;
  background-color: #ffdd7c;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 0px;
  border: #efeeea;
  border-top: none;
  color: #785106;
}
.rbc-header:first-child {
  border-radius: 6px 0px 0px 0px;
  border-left: none;
}
.rbc-header:last-child {
  border-radius: 0px 6px 0px 0px;
  border-right: none;
}

/* calendar 셀 스타일 정의 */
.rbc-day-bg:hover {
  cursor: pointer;
}

/* 이전 달 이후 달 스타일 정의 */
.rbc-off-range-bg {
  background-color: #faf8f3;
}

/* 오늘 스타일 정의 */
.rbc-today {
  background-color: #ffe8ba;
}

/* calendar 헤더 스타일 정의 */
.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #ffffff;
}

/* calendar 이벤트 스타일 정의 */
/* 기본 이벤트 */
.rbc-event {
  background-color: #fff8cf;
  margin: auto;
  width: 95%;
  height: 22px;
  border-radius: 4px;
}
/* 이벤트 내용 */
.rbc-event-content {
  color: #4f2f00;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
/* 선택된 이벤트 */
.rbc-event.rbc-selected {
  background: #ffdd7c;
}

/* 날짜 요소 스타일 정의 */
.rbc-button-link {
  color: #958271;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}
.rbc-button-link:hover {
  cursor: default;
}

/* 이벤트 더보기 스타일 정의 */
.rbc-show-more {
  color: #958271;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: inherit;
}
.rbc-show-more:hover {
  color: #958271;
  cursor: pointer;
}
.rbc-show-more:focus {
  color: #958271;
}

/* 더보기 시 헤더 스타일 정의 */
.rbc-overlay-header {
  color: #282828;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
